:root {
    --type-nlines: 3;
    --type-size: 2rem;
    --type-height: calc(var(--type-size) * 1.25);
}

.TextDisplay {
    font-size: var(--type-size);
    line-height: var(--type-height);
    width: 60rem;
    height: calc(var(--type-height) * var(--type-nlines));
    overflow: hidden;
    margin-top: 80px;
}

.TextDisplay-inner {
    height: calc(var(--type-height) * (var(--type-nlines) + 2));
    overflow: hidden;
}

.Word, .Letter {
    display: inline-block;
    color: var(--secondaryText);
    outline: none;
}

.Letter.correct {
    color: var(--primaryText);
}

.Letter.wrong, .Letter.wrong-overtype {
    color: var(--errText);
}

.Letter.wrong-overtype {
    opacity: 0.75;
}
