.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: calc(100vh - 2rem);
    padding: 1rem;

    background-color: var(--background);
    color: var(--primaryText);
}


/* link defaults */
a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.link-fade-in, .link-fade-in:visited {
    color: var(--secondaryText);
    transition: color 0.15s;
}

.link-fade-in:hover {
    color: var(--primaryText);
}
